<link rel="stylesheet" href="/css/footer.css" />
<footer>
  <p>
    GITHUB:
    <a href="https://github.com/pss214/jumakzip" target="_blank">
      https://github.com/pss214/jumakzip</a
    >
  </p>
  <p>주소: 안드로메다도 화성시 테슬라구 스페이스동 X Æ A-Xii</p>
  <p>사업자 번호: 52-712-48960 | Tel. 010-442-5633</p>
  <p>COPYRIGHT&copy; by JUMAKJIP. ALL RIGHTS RESERVED</p>
</footer>
