<link rel="stylesheet" href="/css/header.css" />
<script src="/js/header.js" defer></script>

<header>
  <div class="logo">
    <a href="/"><img src="/image/jumakziplogo.png" alt="logo" /></a>
  </div>
  <div class="menu">
    <form class="search" method="get" action="/reservation/list">
      <div class="inputContainer">
        <p>인원</p>
        <select name="count" class="hCount">
          <option value="1">1명</option>
          <option value="2">2명</option>
          <option value="3">3명</option>
          <option value="4">4명</option>
          <option value="5">5명</option>
          <option value="6">6명</option>
          <option value="7">7명</option>
          <option value="8">8명</option>
          <option value="9">9명</option>
          <option value="10">10명</option>
        </select>
      </div>
      <div class="inputContainer">
        <p>시작일</p>
        <input class="period" id="startDay" type="date" name="start" />
      </div>
      <div class="inputContainer">
        <p>종료일</p>
        <input class="period" id="endDay" type="date" name="end" />
      </div>
      <button
        type="button"
        class="submitButton jumakButton jumakButtonReverseHover jumakButtonActive"
      >
        예약하기
      </button>
    </form>
    <!-- 관리자 계정일 때에만 생성 -->
    <a class="admin" href="/admin">
      <img src="../image/manager.png" alt="admin" />
    </a>
  </div>
  <div class="user">
    <div id="log_on">
      <button
        onclick="logout()"
        class="jumakButtonReverseHover jumakButtonActive"
      >
        로그아웃
      </button>
      <a href="/mypage" class="profile">
        <img src="../image/profile.png" alt="profile"
      /></a>
    </div>
    <div id="log_off">
      <a href="/signin" class="jumakButtonReverseHover jumakButtonActive"
        >로그인</a
      >
    </div>
  </div>
</header>
