<link rel="stylesheet" href="/css/header.css" />
<script src="/js/header.js" defer></script>

<header>
  <div class="logo">
    <a href="/"><img src="/image/jumakziplogo.png" alt="logo" /></a>
  </div>
  <div class="menu">
    <form class="search" method="post" action="/reservation">
      <div class="inputContainer">
        <p>인원</p>
        <select name="hCount" class="personnel">
          <option value="1">1명</option>
          <option value="2">2명</option>
          <option value="3">3명</option>
          <option value="4">4명</option>
          <option value="5">5명</option>
          <option value="6">6명</option>
          <option value="7">7명</option>
          <option value="8">8명</option>
          <option value="9">9명</option>
          <option value="10">10명</option>
        </select>
      </div>
      <div class="inputContainer">
        <p>시작일</p>
        <input class="period" id="startDay" type="date" name="startDay" />
      </div>
      <div class="inputContainer">
        <p>종료일</p>
        <input class="period" id="endDay" type="date" name="endDay" />
      </div>
      <button
        type="submit"
        class="jumakButton jumakButtonReverseHover jumakButtonActive"
      >
        예약하기
      </button>
    </form>
    <!-- 관리자 계정일 때에만 생성 -->
    <a class="admin" href="/admin">
      <img src="../image/manager.png" alt="admin" />
    </a>
  </div>
  <div class="user">
    <div id="log_on">
      <a href="/mypage"
        ><div id="profile">
          <img src="../image/profile.png" alt="profile" /></div
      ></a>
      <a onclick="logout()"><p id="p_logon"></p></a>
    </div>
    <div id="log_off">
      <a href="/signin"><p id="p_logoff"></p></a>
    </div>
  </div>
</header>
