<link rel="stylesheet" href="/css/header.css" />

<header>
  <div class="logo">
    <a href="/"><img src="/image/jumakziplogo.png" alt="logo" /></a>
  </div>
  <ul class="menu">
    <li>소개</li>
    <li>주변관광지</li>
    <li>고객센터</li>
    <li>실시간예약</li>
  </ul>
  <div class="user">
    <div id="log_on">
      <a href="/mypage"><div id="profile"></div></a>
      <a onclick="logout()"><p id="p_logon"></p></a>
    </div>
    <div id="log_off">
      <a href="/signin"><p id="p_logoff"></p></a>
    </div>
  </div>
</header>

<div class="detailMenuBackground">
  <div class="detailMenu">
    <ul class="introduction">
      <li>오시는 길</li>
      <li>야외시설</li>
      <li>펜션정보</li>
    </ul>
    <ul class="tour"></ul>
    <ul class="customerCenter">
      <li>공지사항</li>
      <li>문의하기</li>
    </ul>
    <ul class="reservation"></ul>
  </div>
</div>

<script src="/js/header.js"></script>
