<link rel="stylesheet" href="/css/header.css" />
<script src="/js/header.js" defer></script>

<header>
  <div class="logo">
    <a href="/"><img src="/image/jumakziplogo.png" alt="logo" /></a>
  </div>
  <div class="menu">
    <div class="search">
      <input
        class="personnel"
        type="number"
        placeholder="숙박인원"
        min="0"
        max="20"
      />
      <!-- max값은 임의로 지정 -->
      <input class="period" type="text" placeholder="숙박기간" />
      <button class="jumakButton jumakButtonReverseHover jumakButtonActive">
        예약하기
      </button>
    </div>
    <!-- 관리자 계정일 때에만 생성 -->
    <a class="admin" href="/admin">
      <img src="../image/manager.png" alt="admin" />
    </a>
  </div>
  <div class="user">
    <div id="log_on">
      <a href="/mypage"
        ><div id="profile">
          <img src="../image/profile.png" alt="profile" /></div
      ></a>
      <a onclick="logout()"><p id="p_logon"></p></a>
    </div>
    <div id="log_off">
      <a href="/signin"><p id="p_logoff"></p></a>
    </div>
  </div>
</header>
