<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/admin.css" />
    <title><%=title%></title>
  </head>
  <body>
    <main>
      <search class="sidebarArea">
        <div class="sidebar">
          <p>관리자 페이지</p>
          <ul>
            <li>회원정보</li>
            <li>예약관리</li>
            <li>문의관리</li>
          </ul>
        </div>
      </search>
      <section class="contentArea">
        <section class="userInfo">
          <h4>회원 정보(title)</h4>
          <article class="content">
            <div class="attribute">
              <p>닉네임</p>
              <p>아이디</p>
              <p>타입(권한?)</p>
            </div>
            <div class="contents">
              <div class="user" id="잠자는고양이(userName)">
                <!-- id에 사용자 이름 넣어주기 -->
                <p>잠자는고양이</p>
                <p>sleepingmeow</p>
                <p>회원/비회원</p>
              </div>
            </div>
          </article>
        </section>
      </section>
    </main>
  </body>
</html>
