<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/error.css" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>
    <div class="content">
        <div class="main">
            <a href="/">
                <img src="/image/logo0.png">
            </a>
            <h1 class="main">500</h1>
            <p class="main"> <span class="main">오우!</span> 서버에 문제가 발생했습니다!</p>
            <a href="/">홈으로 이동</a>
        </div>
    </div>
</body>
</html>