<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <main>
      <div class="mainVideoDiv">
        <video src="video/mainVideo.mp4" loop autoplay muted></video>
        <div class="tagsOnVideo">
          <h2>Rest at JUMAK</h2>
          <p>
            머물기만 해도 편안이 느껴지는 곳, 주막집에 오신 것을 환영합니다.
          </p>
          <div class="scrollIcons">
            <img class="mouseImage" src="image/mouse.png" alt="mouseIMG" />
            <div class="mouseLine"></div>
          </div>
        </div>
      </div>
      <div class="mainDiv">
        <div class="videoWrap">
          <h2>Rest at JUMAK</h2>
          <p>
            머물기만 해도 편안이 느껴지는 곳, 주막집에서 사랑하는 <br />
            연인,친구,가족들과 함께 편안하고 행복한 추억 만들어보세요.
          </p>
        </div>
      </div>
    </main>
    <script src="/js/index.js"></script>
  </body>
</html>
