<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="bodywrap">
      <ul>
          <li>
            <img src="image/foreground.png" alt="img0">

            <div class="box0">
                <div class="box1">
                    <img src="image/logo0.png" alt="logo">
                    <img src="image/bigtext0.png" alt="bigtext0">
                    <img src="image/textinsidetheyellowsquareborder0.png" alt="textinsidetheyellowsquareborder0">
                </div>
            </div>
          </li>

          <li>
            <div class="box0">
                <div class="box1">
                    <img src="" alt="logo">
                    <img src="image/bigtext0.png" alt="bigtext0">
                    <img src="image/textinsidetheyellowsquareborder0.png" alt="textinsidetheyellowsquareborder0">
                </div>
            </div>

            <img src="image/pool.png" alt="img1">
          </li>

          <li>
            <img src="image/foreground.png" alt="img0">

            <div class="box0">
                <div class="box1">
                    <img src="image/logo0.png" alt="logo">
                    <img src="image/bigtext0.png" alt="bigtext0">
                    <img src="image/textinsidetheyellowsquareborder0.png" alt="textinsidetheyellowsquareborder0">
                </div>
            </div>
          </li>
      </ul>
  </div>
  </body>
</html>
