<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="css/index.css" />
    <script
      type="text/javascript"
      src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=pnbzlotkpu&callback=CALLBACK_FUNCTION"
    ></script>
    <script type="text/javascript" src="js/index.js" defer></script>
  </head>
  <body>
    <main>
      <div class="mainVideoDiv">
        <div class="videoWrap">
          <video src="video/mainVideo.mp4" loop autoplay muted></video>
        </div>
        <div class="tagsOnVideo">
          <h2>Rest at JUMAK</h2>
          <p>
            머물기만 해도 편안이 느껴지는 곳, 주막집에 오신 것을 환영합니다.
          </p>
          <div class="scrollIcons">
            <img class="mouseImage" src="/image/mouse.png" alt="mouseIMG" />
            <div class="mouseLine"></div>
          </div>
        </div>
      </div>
      <div class="mainDiv">
        <section class="mainText">
          <h2>Rest at JUMAK</h2>
          <p>
            머물기만 해도 편안이 느껴지는 곳, <br />
            주막집에서 사랑하는 연인,친구,가족들과 함께 편안하고 행복한 추억
            만들어보세요.
          </p>
        </section>
        <!-- 펜션 소개 -->
        <section class="roomIntroduction">
          <article class="article1">
            <div class="room1Img">
              <img src="/image/pension1.jpg" alt="room1" />
            </div>
            <div class="room2Text">
              <p>당신을 위한 특별한 모든것</p>
              <p>
                프라이빗한 휴식은 물론 다양한 편의시설로 <br />
                모두가 편안한 여행을 즐기실 수 있습니다.
              </p>
            </div>
          </article>
          <article class="article2">
            <div class="room1Text">
              <p>일상 속 선물같은 휴식</p>
              <p>
                시원한 바람과 아름다운 풍경이 늘 함께하는 곳, <br />당신의
                소중한 휴식을 즐겨보세요.
              </p>
            </div>
            <div class="room2Img">
              <img src="/image/pension2.jpg" alt="room2" />
            </div>
          </article>
        </section>
        <!-- 부대 시설 -->
        <section class="amenitys">
          <article class="subHeading">
            <h2>주변 관광지</h2>
            <h3>
              편안한 휴식? 특별한 휴식? <br />
              편안한 휴식에 특별함을 채우는 <br />
              JUMAK's 특별 시설
            </h3>
          </article>
          <article class="amenitys1">
            <div class="imgWrap">
              <img src="/image/pool.png" alt="pool" />
            </div>
            <div class="textWrap">
              <h4>풀장</h4>
              <p>
                가만히 있어도 땀나는 여름, <br />시원한 풀장에서 친구들 가족들과
                즐겁게!
              </p>
            </div>
          </article>
          <article class="amenitys2">
            <div class="imgWrap">
              <img src="/image/warmPool.png" alt="warmPool" />
            </div>
            <div class="textWrap">
              <h4>온수풀장</h4>
              <p>
                너무 추워 집콕 하고싶은 겨울, <br />따듯한 풀장에서 몸 녹이며
                편하게!
              </p>
            </div>
          </article>
          <article class="amenitys3">
            <div class="imgWrap">
              <img src="/image/beam.png" alt="beam" />
            </div>
            <div class="textWrap">
              <h4>워크샵</h4>
              <p>
                쉬러 왔는데 회의라고요? 자네, 요즘 편한가? <br />
                워크샵도 편안하게 JUMAK에서!
              </p>
            </div>
          </article>
          <article class="amenitys4">
            <div class="imgWrap">
              <img src="/image/soccer.png" alt="soccer" />
            </div>
            <div class="textWrap">
              <h4>전용 축구장</h4>
              <p>놀러오면 공부터 차야지, <br />여러분만을 위한 전용 축구장!</p>
            </div>
          </article>
          <article class="amenitys5">
            <div class="imgWrap"><img src="/image/mic.png" alt="mic" /></div>
            <div class="textWrap">
              <h4>노래방</h4>
              <p>노래연습, 해야겠죠? <br />24시간 운영하는 노래방!</p>
            </div>
          </article>
          <article class="amenitys6">
            <div class="imgWrap"><img src="/image/sea.png" alt="sea" /></div>
            <div class="textWrap">
              <h4>바다뷰</h4>
              <p>
                사실 난 산보다 바다가 더 좋아, <br />펜션에서 볼 수 있는 바다뷰!
              </p>
            </div>
          </article>
        </section>
        <section class="touristSpots">
          <article class="subHeading">
            <h2>주변 관광지</h2>
            <h3>
              JUMAK 펜션을 즐겼다면, <br />
              관광지를 즐길 차례
            </h3>
          </article>
          <article class="touristSpot1">
            <div class="imgWrap">
              <img src="/image/namisum.jpg" alt="namisum" />
            </div>
            <div class="textWrap">
              <h4>남이섬</h4>
              <p>
                섬 이름이 어떻게 남이? <br />이름도 모양도 특이한 초승달모양의
                섬! 남이섬
              </p>
            </div>
          </article>
          <article class="touristSpot2">
            <div class="imgWrap">
              <img src="/image/sseolmaejang.jpg" alt="sseolmaejang" />
            </div>
            <div class="textWrap">
              <h4>가평 사계절 썰매장</h4>
              <p>
                아이들과 함께! <br />사계절 썰매를 즐길수 있는 가평 사계절
                썰매장!
              </p>
            </div>
          </article>
          <article class="touristSpot3">
            <div class="imgWrap">
              <img src="/image/oonaksan.jpg" alt="oonaksan" />
            </div>
            <div class="textWrap">
              <h4>운악산 흔들다리</h4>
              <p>미안, 내가 떨고있어<br />다리가 흔들린다! 운악산 흔들다리</p>
            </div>
          </article>
          <article class="touristSpot4">
            <div class="imgWrap">
              <img src="/image/railPark.jpg" alt="railPark" />
            </div>
            <div class="textWrap">
              <h4>레일파크</h4>
              <p>
                앉아만 있었는데, 가평 다 봤다고요?<br />가평을 한눈에! 가평
                레일파크
              </p>
            </div>
          </article>
        </section>
        <section class="wayToCome">
          <article class="subHeading">
            <h2>오시는 길</h2>
            <h3>주막집 올래 말래 올래 말래</h3>
          </article>
          <article class="map">
            <div id="map" style="width: 100%; height: 400px"></div>
            <p>경기 화성시 병점3로 12 (신성빌딩 4층)</p>
          </article>
        </section>
      </div>
    </main>
  </body>
</html>
