<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
  </head>
  <body>
    <div class="bodywrap">
      <ul>
          <li>
            <img src="image/foreground.png" class="i0" alt="img0">

            <div class="box0">
                <div class="box1">
                    <img src="image/logo0.png" class="imgimg0" alt="logo">
                    <img src="image/bigtext0.png" class="imgimg1" alt="bigtext0">
                    <img src="image/textinsidetheyellowsquareborder0.png" class="imgimg2" alt="textinsidetheyellowsquareborder0">
                </div>
            </div>
          </li>

          <li>
            <div class="box2">
                <div class="box3">
                    <img src="image/logo0.png" class="imgimg3" alt="logo">
                    <img src="image/bigtext1.png" class="imgimg4" alt="bigtext1">
                    <img src="image/textinsidetheyellowsquareborder1.png" class="imgimg5" alt="textinsidetheyellowsquareborder1">
                </div>
            </div>

            <img src="image/pool.png" class="i1" alt="img1">
          </li>

          <li>
            <img src="image/outdoorterrace.png" class="i0" alt="img2">

            <div class="box0">
                <div class="box1">
                    <img src="image/logo0.png" class="imgimg6" alt="logo">
                    <img src="image/bigtext2.png" class="imgimg7" alt="bigtext2">
                    <img src="image/textinsidetheyellowsquareborder2.png" class="imgimg8" alt="textinsidetheyellowsquareborder2">
                    <a href="#"> 예약하러 가기 &check; </a>
                </div>
            </div>
          </li>
      </ul>
  </div>
  </body>
</html>
