<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/KakaopayApproval.css" />
  </head>
  <body>
    <main>
      <div class="wrap0">
        <img src="/image/free-icon-check-button-5974759.png" alt="img0" />
        <p>예약이 완료되었습니다.</p>
        <p>아래 확인 버튼을 누르시면 예약 절차가 완료됩니다.</p>
        <p>*현금영수증 발행정보는 카카오페이 이용내역에서 확인해주세요.</p>
      </div>

      <a href="index.ejs">확인</a>
    </main>
  </body>
</html>
