<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/KakaopayFail.css" />
    <title><%= title %>></title>
  </head>
  <body>
    <main>
      <div class="wrap">
        <div><img src="/image/fail.png" alt="fail" /></div>
        <p>결제가 실패했습니다</p>
        <p>웹으로 돌아가 다시 시도해주세요</p>
      </div>
    </main>
  </body>
</html>
