<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/mypage_detail.css" />
  </head>
  <body>
    <main>
      <div class="contentsWrap">
        <section class="content">
          <p>별난 감자님</p>
          <section class="updatePersonalInfo">
            <ul>
              <li>
                <span>닉네임</span>
                <input type="text" placeholder="별난 감자" />
                <button>수정하기</button>
              </li>
              <li>
                <span>아이디</span>
                <input type="text" value="<%= data.username %>" readonly />
              </li>
              <li>
                <span>비밀번호</span>
                <input type="text" placeholder="별난 감자" />
                <button>수정하기</button>
              </li>
              <li>
                <span>비밀번호 확인</span>
                <input
                  type="text"
                  placeholder="수정하기 버튼 클릭시 생성 + 수정하기 버튼 삭제"
                />
                <button>수정하기</button>
              </li>
              <li>
                <span>전화번호</span>
                <input type="text" value="<%= data %>" readonly />
                <button>수정하기</button>
              </li>
              <li>
                <span>광고 수신 동의</span>
                <input type="text" placeholder="별난 감자" />
                <button>수정하기</button>
              </li>
            </ul>
          </section>
          <section class="checkReservationDetail"></section>
        </section>
      </div>
    </main>
  </body>
</html>
