<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mypage.css">
    <title><% title %></title>
</head>
<body>
    <div style="padding-top: 80px;">
        <div class="container">
            <div class="submenu">
                <ul class="lnb">
                    <li class="child">마이페이지</li>
                    <li class="child">개인정보수정</li>
                    <li class="child">예약정보</li>
                </ul>
            </div>
            <div>
                <h1 class="subject">마이페이지 > 개인정보수정</h1>
            </div>
            
            
        </div>
    </div>
    <script src="/js/mypage.js"></script>
</body>
</html>