<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reservationdetail.css">
    <script src="/js/jquery-1.12.3.js"></script>
    <script src="/js/reservationdetail.js"></script>
</head>
<body>
    <main>
        <ul class="wrap0">
            <a href="#"></a>

            <li class="li0">
                <h2>101호실</h2> <h2>500,000원</h2>
            </li>

            <li class="li1">
                <span class="span1">♡</span>
            </li>
        </ul>

        <div class="wrap1">
            <figure>
                <figcaption> <h3>시설 옵션(선택)</h3> </figcaption>
                <form>
                    <ul>
                        <li>
                            <div class="a0">
                                <label> <input type="radio"> <span>바베큐 이용</span> </label>
                                <span>+ 10,000 원</span>
                            </div>
                
                            <div class="a1">
                                <span class="b0">¡</span>
                                <span class="b1">바베큐장 이용안내</span>
                            </div>
                        </li>

                        <li>
                            <div class="a0">
                                <label> <input type="radio"> <span>바베큐 이용</span> </label>
                                <span>+ 10,000 원</span>
                            </div>
                
                            <div class="a1">
                                <span class="b0">¡</span>
                                <span class="b1">바베큐장 이용안내</span>
                            </div>
                        </li>

                        <li>
                            <div class="a0">
                                <label> <input type="radio"> <span>바베큐 이용</span> </label>
                                <span>+ 10,000 원</span>
                            </div>
                
                            <div class="a1">
                                <span class="b0">¡</span>
                                <span class="b1">바베큐장 이용안내</span>
                            </div>
                        </li>

                        <li>
                            <div class="a0">
                                <label> <input type="radio"> <span>바베큐 이용</span> </label>
                                <span>+ 10,000 원</span>
                            </div>
                
                            <div class="a1">
                                <span class="b0">¡</span>
                                <span class="b1">바베큐장 이용안내</span>
                            </div>
                        </li>
                    </ul>

                    <input type="submit" value="500,000원 예약하기" >
                </form>
            </figure>
        </div>
    </main>
</body>
</html>