<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reservation_confirmationandpayment.css">
</head>
<body>
    <div class="bodywrap">
        <div class="wrap0">
            <a href="reservation_detail.ejs"> <p>←</p> </a>
            <p>예약 확인 및 결제</p>
        </div>

        <ul class="wrap1">
            <li class="e0">
                <h3 class="a0">101호실</h3>
                <h3 class="a1">500,000원</h3>
            </li>

            <li class="e1">
                <span class="b0">체크인</span>
                <span class="b1">체크아웃</span>
            </li>

            <li class="e2">
                <span class="c0">2025.02.03</span>
                <span class="c1">2025.02.04</span>
            </li>

            <li class="e3">
                <span class="d0">14:00</span>
                <span class="d1">11:00</span>
            </li>
        </ul>

        <form class="wrap2">
            <div class="wrapwrap0">

            </div>

            <div class="wrapwrap1">
                
            </div>

            <div class="wrapwrap2">
                
            </div>

            <div class="wrapwrap3">
                
            </div>

            <input type="button" onclick="pay(500000)" value="500,000원 결제하기">
        </form>
    </div>
    <script src="/js/reservationpay.js"></script>
</body>
</html>