<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reservation.css">
    <script src="/js/jquery-1.12.3.js"></script>
    <script src="/js/reservation.js"></script>
  </head>
  <body>
    <div class="bodywrap">
      <div class="wrap0">
        <img src="image/Real-time reservation.png" alt="img0">
      </div>

      <div class="wrap1">
        <div class="calendar0">
          
        </div>

        <form>
          <label><img src="image/Number of guests.png"> <input type="number" required min="1" max="5"></label>
          <label><img src="image/length of stay.png"> <input type="text" required></label>
          <input type="submit" value="조회하기">
        </form>
      </div>

      <div class="wrap2">
        <div class="wrapwrap0">
          <span>인원수</span>
          
          <div class="wrapwrap1">
            <ul>
              <li>
                <a href="#"></a>
                <h3>101호실</h3>
                <span class="span0">수용 인원 : 1인</span>
                <b class="b0">500,000<small class="small0">원</small> </b>
                <span class="span1">♡</span>
              </li>

              <li>
                <a href="#"></a>
                <h3>102호실</h3>
                <span class="span0">수용 인원 : 1인</span>
                <b class="b0">500,000<small class="small0">원</small> </b>
                <span class="span1">♡</span>
              </li>

              <li>
                <a href="#"></a>
                <h3>103호실</h3>
                <span class="span0">수용 인원 : 1인</span>
                <b class="b0">500,000<small class="small0">원</small> </b>
                <span class="span1">♡</span>
              </li>

              <li>
                <a href="#"></a>
                <h3>104호실</h3>
                <span class="span0">수용 인원 : 1인</span>
                <b class="b0">500,000<small class="small0">원</small> </b>
                <span class="span1">♡</span>
              </li>
            </ul>

            <ul>
              <li>
                <a href="#"></a>
                <h3>105호실</h3>
                <span class="span0">수용 인원 : 1인</span>
                <b class="b0">500,000<small class="small0">원</small> </b>
                <span class="span1">♡</span>
              </li>

              <li>
                <a href="#"></a>
                <h3>106호실</h3>
                <span class="span0">수용 인원 : 1인</span>
                <b class="b0">500,000<small class="small0">원</small> </b>
                <span class="span1">♡</span>
              </li>

              <li>
                <a href="#"></a>
                <h3>107호실</h3>
                <span class="span0">수용 인원 : 1인</span>
                <b class="b0">500,000<small class="small0">원</small> </b>
                <span class="span1">♡</span>
              </li>

              <li>
                <a href="#"></a>
                <h3>108호실</h3>
                <span class="span0">수용 인원 : 1인</span>
                <b class="b0">500,000<small class="small0">원</small> </b>
                <span class="span1">♡</span>
              </li>
            </ul>

            <ul>
              <li>
                <a href="#"></a>
                <h3>109호실</h3>
                <span class="span0">수용 인원 : 1인</span>
                <b class="b0">500,000<small class="small0">원</small> </b>
                <span class="span1">♡</span>
              </li>

              <li>
                <a href="#"></a>
                <h3>110호실</h3>
                <span class="span0">수용 인원 : 1인</span>
                <b class="b0">500,000<small class="small0">원</small> </b>
                <span class="span1">♡</span>
              </li>

              <li>
                <a href="#"></a>
                <h3>111호실</h3>
                <span class="span0">수용 인원 : 1인</span>
                <b class="b0">500,000<small class="small0">원</small> </b>
                <span class="span1">♡</span>
              </li>

              <li>
                <a href="#"></a>
                <h3>112호실</h3>
                <span class="span0">수용 인원 : 1인</span>
                <b class="b0">500,000<small class="small0">원</small> </b>
                <span class="span1">♡</span>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>
    
  </body>
</html>
