<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css" />
    <title><%= title %></title>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">회원가입</h1>
        <div class="login_wrap">
            <form method="post" action="/signup">
                <div class="login_box">
                    <div class="input_item id">
                        <img src="/image/cilpeople.png">
                        <input type="text" class="input_id" name="id" id="id" placeholder="아이디">
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</body>
</html>