@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", serif;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
main {
  padding-top: 70px;
  width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
}
.jumakButton {
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  background-color: #fff;
  color: #3a8dfd;
  border: none;
  border-radius: 5px;
}
.jumakButton:hover {
  background-color: #3a8dfd;
  color: #fff;
  transition: all 100ms;
  cursor: pointer;
}
