header {
  background-color: #fff;
  width: 100%;
  height: 70px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 50;
}

header .logo {
  width: 220px;
  cursor: pointer;
}
header .logo img {
  width: 100%;
}

header .menu {
  width: 600px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
header .menu .search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
header .menu .search .inputContainer {
  background-color: #efefef;
  padding: 0 10px;
  border-radius: 4px;
}
header .menu .search .inputContainer p {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #aaa;
}
header .menu .search select {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: #efefef;
}
header .menu .search input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-left: 20px;
  background-color: #efefef;
}
header .menu .search button {
  min-width: 100px;
  font-size: 16px;
}
header .menu .admin {
  width: 25px;
  cursor: pointer;
}
header .menu .admin img {
  width: 100%;
}

header .menu {
  width: 600px;
}

header .user {
  display: flex;
  column-gap: 10px;
  width: 220px;
}
header .user .login_profile {
  display: flex;
  margin-left: auto;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}
header .user .logout_profile {
  display: none;
}
.on {
  color: #000;
  cursor: pointer;
  height: 36px;
  border: 1px solid black;
  border-radius: 18px;
  padding: 0 26px;
  font-size: 16px;
  line-height: 36px;
}
.off {
  display: none;
}
.log_on {
  display: flex;
  column-gap: 15px;
  margin-left: auto;
}
.log_off {
  display: none;
}
