@keyframes mouseUpDown {
  0% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}

a{
    text-decoration: none;
    display: block;
}
main {
  margin: 0;
  width: 100%;
}
.mainVideoDiv {
  position: relative;
  width: 100%;
  height: 100vh;
  left: 0;
  top: -70;
  transition: all 600ms;
}
.mainVideoDiv .videoWrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.mainVideoDiv .videoWrap video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: all 600ms;
}
.mainVideoDiv .tagsOnVideo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 110px;
  transition: all 800ms;
}
.mainVideoDiv .tagsOnVideo h2 {
  font-size: 125px;
  font-weight: 800;
  color: white;
  margin-top: 40vh;
  font-family: "Rubik", serif;
  line-height: 140px;
}
.mainVideoDiv .tagsOnVideo p {
  margin-left: 5px;
  font-size: 28px;
  color: white;
}
.mainVideoDiv .tagsOnVideo .scrollIcons {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  animation: mouseUpDown 2000ms infinite;
}
.mainVideoDiv .tagsOnVideo .scrollIcons .mouseImage {
  filter: brightness(0) invert(1);
  width: 40px;
  margin-bottom: 25px;
}
.mainVideoDiv .tagsOnVideo .scrollIcons .mouseLine {
  width: 1px;
  height: 70px;
  background: #fff;
  animation: lineIncrease 2000ms infinite;
}

.mainDiv {
  width: 1400px;
  margin: 0 auto;
  opacity: 0;
  transition: all 600ms;
}
.mainDiv .mainText {
  text-align: center;
}
.mainDiv .mainText h2 {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 22px;
}
.mainDiv .mainText p {
  font-size: 22px;
  font-weight: 300;
  color: #666;
  line-height: 33px;
  margin-bottom: 300px;
}

.mainDiv .roomIntroduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin-bottom: 200px;
}

.mainDiv .roomIntroduction .article1 {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding-top: 50px;
  padding-right: 50px;
}
.mainDiv .roomIntroduction .article1 .room1Img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #3a8dfd;
  border-radius: 20px;
  overflow: hidden;

  opacity: 0;
  transform: translateY(30%);
  transition: all 800ms;
}
.mainDiv .roomIntroduction .article1 .room1Img img {
  width: 100%;
  object-fit: cover;
}
.mainDiv .roomIntroduction .article1 .room2Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  aspect-ratio: 16/9;
  padding: 0 40px;

  opacity: 0;
  transform: translateY(30%);
  transition: all 400ms;
}
.mainDiv .roomIntroduction .article1 .room2Text p:nth-child(1) {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 25px;
}
.mainDiv .roomIntroduction .article1 .room2Text p:nth-child(2) {
  font-size: 24px;
  font-weight: 200;
}

.mainDiv .roomIntroduction .article2 {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding-top: 50px;
  padding-left: 50px;
  border-left: 1px dashed #aaa;
}
.mainDiv .roomIntroduction .article2 .room2Img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #3a8dfd;
  border-radius: 20px;
  overflow: hidden;

  opacity: 0;
  transform: translateY(30%);
  transition: all 800ms;
}
.mainDiv .roomIntroduction .article2 .room2Img img {
  width: 100%;
  object-fit: cover;
}

.mainDiv .roomIntroduction .article2 .room1Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  aspect-ratio: 16/9;
  padding: 0 40px;

  opacity: 0;
  transform: translateY(30%);
  transition: all 800ms;
}
.mainDiv .roomIntroduction .article2 .room1Text p:nth-child(1) {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 25px;
}
.mainDiv .roomIntroduction .article2 .room1Text p:nth-child(2) {
  font-size: 24px;
  font-weight: 200;
}

.mainDiv .amenitys {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 100px;
  padding: 0 50px;
}

.mainDiv .amenitys h3 {
  font-size: 44px;
  grid-column: 1 / 3;
  margin-bottom: 50px;

  opacity: 0;
  transform: translateY(30%);
  transition: all 800ms;
}

.mainDiv .amenitys article {
  padding-left: 50px;
}

.mainDiv .amenitys .amenitys1 {
  opacity: 0;
  transform: translateY(30%);
  transition: all 800ms;
}

.mainDiv .amenitys .amenitys2 {
  opacity: 0;
  transform: translateY(30%);
  transition: all 800ms ease-in-out 200ms;
}

.mainDiv .amenitys .amenitys3 {
  opacity: 0;
  transform: translateY(30%);
  transition: all 800ms ease-in-out 200ms;
}

.mainDiv .amenitys .amenitys4 {
  opacity: 0;
  transform: translateY(30%);
  transition: all 800ms;
}

.mainDiv .amenitys .amenitys5 {
  opacity: 0;
  transform: translateY(30%);
  transition: all 800ms;
}

.mainDiv .amenitys .amenitys6 {
  opacity: 0;
  transform: translateY(30%);
  transition: all 800ms ease-in-out 200ms;
}

.mainDiv .amenitys article .imgWrap {
  width: 150px;
  height: 150px;
  margin-bottom: 60px;
}
.mainDiv .amenitys article .imgWrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mainDiv .amenitys article .textWrap h4 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
.mainDiv .amenitys article .textWrap p {
  font-size: 26px;
  font-weight: 500;
  color: #666;
}

.i0, .i1{ /* 1.2 */
    margin: 0;
    width: 608.938px; /* 40% */
    height: 427.938px; /* 40% */ /* 이 40%를 기준으로 1.24317073969구함 */
    height: 26.746125rem;
    object-fit: cover;
}

.box0, .box2{
    margin: 0;
    width: 689.366289472px; /* 1.24317073969 나눠서 구함 */
    height: 427.937999999px; /* 1.24317073969 나눠서 구함 */
    height: 26.7461249999rem;
    background-color: #444444;
    border-top-left-radius: 100px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.box1, .box3{
    width: 617.775157893px; /* 1.24317073969 나눠서 구함 */
    height: 389.327052631px; /* 1.24317073969 나눠서 구함 */
    height: 24.3329407894rem;
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid #3A8DFD;
    box-sizing: border-box;
    position: absolute;
    top: 21.391px; /* 5% */
    top: 1.3369375rem;
    left: 48.250px; /* 7% */
    left: 3.015625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imgimg0, .imgimg6{
    width: 122.750px; /* 20% */
    height: 57.797px; /* 15% */
    height: 3.6123125rem;
    margin-left: 390px;
}

.imgimg1{
    width: 460.312px; /* 75% */
    height: 96.328px; /* 25% */
}

.imgimg2{
    width: 40%;
    height: 45%;
}

.imgimg3{
    margin-left: 60px;
    width: 20%;
    height: 15%;
}

.imgimg4{
    margin-left: 60px;
    width: 60%;
    height: 13%;
}

.imgimg5{
    margin-left: 60px;
    width: 70%;
    height: 50%;
}

.imgimg7{
    width: 50%;
    height: 25%;
}

.imgimg8{
    width: 70%;
    height: 55%;
}

.box1>a{
    position: absolute;
    bottom: 30px;
    left: 250px;
    width: 162.666666667px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    background-color: #3A8DFD;
    border: 1px solid #cccccc;
}

.box1>a:hover{
    color: #FFFF00;
}