.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap div {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
.wrap div img {
  width: 100%;
  object-fit: cover;
}
.wrap p:nth-child(2) {
  font-size: 32px;
  font-weight: 600;
}
.wrap p:nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  color: #aaa;
}

main > a {
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: #3a8dfd;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

main > a:hover {
  opacity: 0.9;
}

a:visited {
  color: #ffffff;
}
