@charset "utf-8";

* {
  margin: 0 auto;
  padding: 0;
  color: #333333;
}

a {
  text-decoration: none;
  display: block;
}

body {
}

main {
}

.wrap0 {
  display: flex;
  flex-direction: column;
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrap0 > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.wrap0 > p:nth-child(2) {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 600;
}

.wrap0 > p:nth-child(3),
.wrap0 > p:nth-child(4) {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 400;
  color: #aaa;
}

main > a {
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: #3a8dfd;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

main > a:hover {
  opacity: 0.9;
}

a:visited {
  color: #ffffff;
}
