.updatePersonalInfo > p {
  font-size: 50px;
  padding: 30px 0;
  font-weight: 600;
  border-bottom: 1px solid #aaa;
  margin-bottom: 50px;
  margin-top: 25px;
}
.updatePersonalInfo form {
  padding: 0 50px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 50px;
}
.updatePersonalInfo form h4 {
  padding-left: 40px;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 50px;
}
.updatePersonalInfo form ul li {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 20px;
  height: 50px;
  margin-bottom: 10px;
}
.updatePersonalInfo form ul li span {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.updatePersonalInfo form ul li input {
  height: 100%;
  font-size: 20px;
  outline: none;
  padding-left: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px dotted #000;
}
.updatePersonalInfo form ul li input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: auto;
}
.updatePersonalInfo form ul li button {
  font-size: 20px;
  font-weight: 600;
  grid-column-start: 2;
  margin-top: 20px;
}

.checkReservationDetail h4 {
  padding-left: 40px;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 50px;
}
.checkReservationDetail {
  margin-top: 50px;
  padding: 0 50px;
}
.checkReservationDetail ul li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 30px;
  align-items: center;
}
.checkReservationDetail ul li p {
  font-size: 20px;
  font-weight: 200;
}
.checkReservationDetail ul li > span {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.checkReservationDetail ul .roomInfo .wrap {
  display: flex;
  align-items: center;
}
.checkReservationDetail ul .roomInfo .wrap > img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}
.checkReservationDetail ul .roomInfo .wrap div .title {
  display: flex;
  column-gap: 20px;
}
.checkReservationDetail ul .roomInfo .wrap div .title .name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.checkReservationDetail ul .roomInfo .wrap div .title .roomName {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.checkReservationDetail ul .roomInfo .wrap div .roomOption {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.checkReservationDetail ul .roomInfo .wrap div .roomOption .txt {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.checkReservationDetail ul .roomInfo .wrap div .roomOption .options {
  display: flex;
  column-gap: 20px;
}

.checkReservationDetail ul .roomInfo .wrap div .roomOption .options .option {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.checkReservationDetail
  ul
  .roomInfo
  .wrap
  div
  .roomOption
  .options
  .option
  span {
  font-weight: 500;
  font-size: 14px;
}
.checkReservationDetail
  ul
  .roomInfo
  .wrap
  div
  .roomOption
  .options
  .option
  img {
  width: 50px;
  height: 50px;
}

.checkReservationDetail ul .additionalOption div p {
  margin-bottom: 10px;
}
.checkReservationDetail ul .additionalOption div div {
  display: flex;
  column-gap: 20px;
}
