.updatePersonalInfo > p {
  font-size: 50px;
  padding: 30px 0;
  font-weight: 600;
  border-bottom: 1px solid #aaa;
  margin-bottom: 50px;
  margin-top: 25px;
}
.updatePersonalInfo form {
  padding: 0 50px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 50px;
}
.updatePersonalInfo form ul li {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 20px;
  height: 50px;
  margin-bottom: 10px;
}
.updatePersonalInfo form ul li span {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.updatePersonalInfo form ul li input {
  height: 100%;
  font-size: 20px;
  outline: none;
  padding-left: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px dotted #000;
}
.updatePersonalInfo form ul li input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: auto;
}
.updatePersonalInfo form ul li button {
  font-size: 20px;
  font-weight: 600;
  grid-column-start: 2;
  margin-top: 20px;
}

.checkReservationDetail {
  margin-top: 50px;
  padding: 0 50px;
}
.checkReservationDetail ul li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 20px;
}
.checkReservationDetail ul li span {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
