.checkPassword {
  width: 600px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.checkPassword > p {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 100px;
  text-align: center;
}
.checkPassword form p {
  margin-bottom: 10px;
}
.checkPassword form .container {
  display: flex;
  column-gap: 10px;
}
.checkPassword form .container input {
  width: 100%;
  outline: none;
  border: none;
  background: hsl(209, 100%, 91%);
  padding-left: 10px;
}
.checkPassword form .container button {
  min-width: 100px;
}
