.container{
    display: flex;
    width: 100%;
    margin: 0;
}
.submenu{
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 60px;
}
.subject{
    display: flex;
    width: 100%;
    border-bottom-color: gray;
    border-bottom-width: 3px;
    border-bottom-style: inset;
}