@charset "utf-8";

* {
  margin: 0 auto;
  padding: 0;
  color: #333333;
  font-family: "함초롱바탕";
}

a {
  text-decoration: none;
  display: block;
}

body {
  position: relative;
  /*display: flex;
  justify-content: center;*/
  height: 1495px;
}

main {
  width: 1190.39px; /* 1536px  80% */
  height: 1190px;
  box-sizing: content-box;
  /*position: absolute;
  top: 70px;*/
}

.wrap0 {
  width: 100%;
  height: 33px;
  margin-top: 70px;
}

.wrap0 > a {
  float: left;
  width: 33.266px;
  height: 33px;
  margin-left: 10px;
}

.wrap0 > a > p {
  float: left;
  width: 33.266px;
  height: 33px;
  line-height: 27px;
  font-size: 35px;
}

.wrap0 > p {
  float: left;
  width: 201.375px;
  height: 33px;
  line-height: 33px;
  margin-left: 10px;
  font-size: 25px;
}

.wrap1 {
  width: 1135.568px;
  margin-top: 50px;
}

.wrap1 > a {
  width: 1135.568px;
  height: 290px;
  border-radius: 12px;
  background-color: #f9f9f9;
}

.e0 {
  width: 100%;
  height: 25px;
  margin-top: 40px;
}

.a0 {
  float: left;
}

.a1 {
  float: right;
}

.e1 {
  width: 100%;
  height: 21px;
  margin-top: 20px;
}

.b0 {
  float: left;
  color: black;
}

.b1 {
  float: left;
  margin-left: 500px;
  color: black;
}

.e2 {
  width: 100%;
  height: 26px;
  margin-top: 10px;
}

.c0 {
  color: #3a8dfd;
  font-size: 19px;
  font-weight: bold;
}

.c1 {
  margin-left: 445px;
  color: #3a8dfd;
  font-size: 19px;
  font-weight: bold;
}

.e3 {
  width: 100%;
  height: 26px;
}

.d0 {
  font-size: 19px;
}

.d1 {
  margin-left: 497px;
  font-size: 19px;
}

.wrap2 {
  width: 100%;
  box-sizing: content-box;
  border-top: 1px solid #dddddd;
  margin-top: 50px;
}

.wrap2 > figure {
  width: 1135.568px;
  margin-top: 50px;
}

.wrap2 > figure > figcaption {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
}

.wrap2 > figure > figcaption > h3 {
  float: left;
}

.wrap2 > figure > ul {
  list-style: none;
  width: 100%;
  height: 184px;
  box-sizing: content-box;
  border-bottom: 2px dotted #aaaaaa;
  position: relative;
}

.wrap2 > figure > ul > li {
  width: 100%;
  height: 26px;
  margin-bottom: 20px;
}

.PaymentHistory0 {
  float: left;
  color: #666666;
  font-size: 19px;
}

.PaymentHistory1 {
  float: right;
  color: black;
  font-size: 19px;
}

.wrap2 > figure > div {
  width: 100%;
  height: 32px;
  margin-top: 25px;
}

.wrap2 > figure > div > span {
  float: left;
  color: black;
  font-size: 24px;
}

.wrap2 > figure > div > h2 {
  float: right;
  color: #ff0000;
}

.wrap3 {
  width: 100%;
  margin-top: 70px;
}

.wrap3 > input {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  background-color: #3a8dfd;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.wrap3 > input:hover {
  border: 1px solid #ffff00;
  color: #ffff00;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin: 0;
}
