main > .logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-top: 50px;
}
.wrapwrap0 > button {
  margin: 20px 0;
  background-color: #efefef;
}
.wrapwrap0 > ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
}

.wrapwrap0 > ul li {
  width: calc(25% - 9px);
  padding: 20px;
}

.wrapwrap0 > ul li a {
  display: block;
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.wrapwrap0 > ul li > div {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}

.wrapwrap0 > ul li > div div h3 {
  font-size: 24px;
  margin-bottom: 4px;
}
.wrapwrap0 > ul li > div div .capacity {
  font-size: 20px;
  color: #666;
  margin-bottom: 4px;
}
.wrapwrap0 > ul li > div div .price {
  font-size: 20px;
  font-weight: 600;
}

.wrapwrap0 > ul li > div .likeButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 900;
  border: 0;
  cursor: pointer;
}

.reservation {
  background-color: (255,255,255);
  opacity: 50%;
  text-align: center;
  font-size: 30px;
}
